@model MVC.ViewModels.BaseViewModel
<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>RoleTop</title>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css">
</head>

    @if("Home".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/style.css" type="text/css">
        }
    @if("Historia".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/historia.css" type="text/css">
        }
    @if("Espaco".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/espaço.css" type="text/css">
        }
    @if("Evento".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/eventos.css" type="text/css">
        }
    @if("Cadastro".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/cadastro.css" type="text/css">
        }
    @if("Login".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/eventos.css" type="text/css">
        }
    @if("Painel".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/usuario.css" type="text/css">
        }
    @if("Dashboard".Equals(@Model.NomeView))
        {
            <link rel="stylesheet" href="~/css/adm.css" type="text/css">
        }
<body>


<!-- &*&*&*&*&*&*&*&*&*& HEADER - INICIO *&*&*&*&*&*&*&*&*&* -->
    <header>
        <div id="teste">
            <nav>
                <ul id="go" class="topnav">
                    <li class="linha"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="linha"><a asp-controller="Historia" asp-action="Index">O Role</a></li>
                    <li class="linha"><a asp-controller="Espaco" asp-action="Index">Espaço</a></li>
                    <li class="linha"><a href='@Url.Action("Index","Home")#copy'>Nossos eventos</a></li>
                    @if(string.IsNullOrEmpty(@Model.UsuarioEmail))
                    {
                        <li class="linha open-button" onclick="openForm()">Cadastro/login</li>
                    }else
                    {
                        @if (@Model.UsuarioEmail == "admin@admin.com")
                        {
                            <li class="linha"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                            <li class="linha"><a onclick="toggleMobileMenu()" asp-controller="Administrador" asp-action="Dashboard">Dashboard</a></li>
                        }else{

                            <li class="linha"><a onclick="toggleMobileMenu()" asp-controller="Cliente" asp-action="Logoff">Logoff</a></li>
                            <li class="linha"><a onclick="toggleMobileMenu()" asp-controller="User" asp-action="Painel">Usuário</a></li>
                        }
                    }
                    <li id="linha-contato"><a href="#copy">Contato</a></li>
                    <li>
                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                            <i class="fa fa-bars" style="font-size: 70px"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <section id="logo-area">
            <a asp-controller="Home" asp-action="Index"><img id="logo" src="~/img/logo.png" alt="Logo" title="Logo"></a>
            </section>
        </div>

        <!-- &*&* POPUP LOGIN *&*&* -->
        <div class="form-popup" id="myForm">
                <form method="POST" action='@Url.Action("Login", "Cliente")' class="form-container">
                    <h1>Login</h1>
                
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Digite seu Email" name="email" required>
                
                    <label for="senha"><b>Password</b></label>
                    <input type="password" placeholder="Digite sua senha" name="senha" required>
                
                    <button type="submit" class="btn">Login</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    <p>Não tem login? Faça seu <a asp-controller="Cadastro" asp-action="Index">cadastro aqui</a></p>
                </form>
        </div>
        <!-- &*&* POPUP LOGIN *&*&* -->  
    </header>

<!-- &*&*&*&*&*&*&*&*&*& HEADER - FIM *&*&*&*&*&*&*&*&*&* -->
@RenderBody()

<!-- &*&*&*&*&*&*&*&*&*& FOOTER - INICIO *&*&*&*&*&*&*&*&*&* -->

<footer>
<div id="nav-rod">

    <ul>
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Historia" asp-action="Index">História</a></li>
        <li><a asp-controller="Espaco" asp-action="Index">Espaço</a></li>
    </ul>
</div>
<hr>
<section id="copy">
    <a asp-controller="Home" asp-action="Index"><img id="logo-pe" src="~/img/logo.png" alt=""></a>
        <div id="contato">
            <h3>Contato</h3>
                <address>
                    Alameda Barão de Limeira, 539 <br>
                    São Paulo, SP <br>
                    (11) 4002-8922 <br>
                    (11) 98574-8485 <br>
                    emaildecontato@hotmail.com
                </address>
        </div>
    <div id="icon-rodape">
        <img src="~/img/facebook.png" alt="" style="width: 55px; height: 55px;">
<br>
        <img src="~/img/instagram.png" alt="" style="width: 55px; height: 55px;">
    </div>
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.8871329131725!2d-46.64847708538464!3d-23.536561566561176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5843deade6e3%3A0x124f377d06c7e71f!2sAlameda%20Bar%C3%A3o%20de%20Limeira%2C%20539%20-%20Campos%20El%C3%ADseos%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001202-001!5e0!3m2!1spt-BR!2sbr!4v1567885525655!5m2!1spt-BR!2sbr"
    width="600" height="200" frameborder="0" style="border:0;" allowfullscreen="">
    </iframe>
</section>
</footer>
</body>

    @if("Home".Equals(@Model.NomeView))
    {   
        <script src="~/js/Home/Scroll.js" type="text/javascript"></script>
        <script src="~/js/Home/SlideShow.js" type="text/javascript"></script>
    }
    @if("Espaco".Equals(@Model.NomeView))
    {
        <script src="~/js/Espaco/Galeria.js" type="text/javascript"></script>
    }
    @if("Painel".Equals(@Model.NomeView))
    {
        <script src="~/js/User/Usuario.js" type="text/javascript"></script>
    }
    @if("Dashboard".Equals(@Model.NomeView))
    {
        <script src="~/js/User/Usuario.js" type="text/javascript"></script>
    }

<!-- &*&*&*&*&*&*&*&*&*& FOOTER - FIM *&*&*&*&*&*&*&*&*&* -->


<script>
    function openForm() {
    document.getElementById("myForm").style.display = "block";
    }

    function closeForm() {
    document.getElementById("myForm").style.display = "none";
    }
</script>

<script>
        function myFunction() {
        var x = document.getElementById("go");
        if (x.className === "topnav") {
                x.className += " responsive";
                if (x.className === "topnav responsive"){
                document.getElementById("go").style.paddingBottom = "23em";
                document.getElementById("go").style.fontSize = "2.5em";
                document.getElementById("go").style.backgroundColor = "black";
                document.getElementById("go").style.margin = "0em";
                
                }
        } else {
                x.className = "topnav";
                document.getElementById("go").style.paddingBottom = "0";
                document.getElementById("go").style.fontSize = "1.3em";
                document.getElementById("go").style.backgroundColor = "transparent";
                document.getElementById("go").style.margin = "0em";
                
        }
        }
</script>
    
<script>if (document.documentElement.clientWidth < 900) {
    // scripts
    }
</script>
    
</html>
