@model MVC.ViewModels.EventoViewModel
<main>
<br>
        <div id="user">
            <p>
                <img src="~/img/usuario.png" alt="" style="width: 100px; height: 100px">
            </p>
            <p id="p2">
                @Model.UsuarioNome
            </p>
        </div>
                        
<br>
<br>
<br>
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">Meus eventos aprovados</button>
            <button class="tablinks" onclick="openCity(event, 'Tokyo')">Meus eventos pendentes</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Agendar evento / orçamento</button>
        </div>
<br>
<br>
    <section class="lista-pedidos">
        <div id="London" class="tabcontent">
        <h3>Meus eventos aprovados</h3>
<br>
<br>
        <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome do evento</th>
                        <th rowspan="2">Data</th>
                        <th rowspan="2">Número de pessoas</th>
                        <th rowspan="2">Adicionais</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var eventos in Model.Eventos)
                    {
                        if (eventos.Status == 1)
                        {                            
                            <tr>
                                <td>@eventos.Espaço.Nome</td>
                                <td>@eventos.DataDoEvento.ToShortDateString()</td>
                                <td>@eventos.NumPessoa.Nome</td>
                                <td>@eventos.Adicional.Nome</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section> 
    <section class="lista-pedidos">
        <div id="Tokyo" class="tabcontent">
        <h3>Meus eventos pendentes</h3>
<br>
<br>
        <table>
                <thead>
                    <tr>
                        <th rowspan="2">Nome do evento</th>
                        <th rowspan="2">Data</th>
                        <th rowspan="2">Número de pessoas</th>
                        <th rowspan="2">Adicionais</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p>Eventos atualizados em @DateTime.Now</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach(var eventos in Model.Eventos)
                    {
                        if (eventos.Status == 0)
                        {                            
                            <tr>
                                <td>@eventos.Espaço.Nome</td>
                                <td>@eventos.DataDoEvento.ToShortDateString()</td>
                                <td>@eventos.NumPessoa.Nome</td>
                                <td>@eventos.Adicional.Nome</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
        <div id="Paris" class="tabcontent">
            <h3>Agendar evento</h3>
<br>
        <div class="row">
            <div class="col-75">
                <div class="container">
                    <form method="POST" action='@Url.Action("Registrar","User")'>
                    
                        <div class="row">
                            <div class="col-50">
                            <label for="tipo-evento"><i class="fa fa-glass"></i>Tipo de evento</label>
                            <select id="tipo-evento" name="tipo_evento" placeholder="Tipo de evento" required>
                                <option value="">Selecione seu tipo de evento</option>
                                @foreach (var espaços in Model.Espaços)
                                {
                                    <option value="@espaços.Nome">Evento @espaços.Nome custa @espaços.Preco</option>
                                }
                                
                            </select>
                            <label for="numero-pessoas"><i class="fa fa-user"></i>Número máximo de pessoas</label>
                            <select type="number" id="numero-pessoas" name="numpessoas" placeholder="Número de pessoas">
                                <option value="" disabled selected>Selecione o número de pessoas</option>
                                @foreach (var numPessoas in Model.NumeroPessoas)
                                {
                                    <option value=@numPessoas.Nome>Para até @numPessoas.Nome pessoas - @numPessoas.Preco</option>
                                }
                            </select>

                            <label for="adicionais"><i class="fa fa-plus"></i> Serviços adicionais</label>
                            <select id="adicionais" name="adicional" required>
                                <option value="" disabled selected>Selecione</option>
                                @foreach(var adicional in Model.Adicionais)
                                    {
                                        <option value=@adicional.Nome>@adicional.Nome por @adicional.Preco</option>
                                    }
                            </select>

                            <label for="descriçao"><i class="fa fa-comment"></i>data</label>
                            <input type="date" id="descriçao" name="data_evento">
<br>
<br>
<br>
                            <strong>O espaço custa de base Dez Mil Reais</strong>
                        </div>

                        <div class="col-50">
                            <h3>Pagamento</h3>
                            <label for="fname">Cartões aceitos</label>
                            <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Nome como está no cartão</label>
                            <input type="text" id="cname" name="cardname" placeholder="Jeferson Silva">
                            <label for="ccnum">Número do cartão</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Validade</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="0x/1x"> 
                            </div>
                        
                        </div>
                        <input type="submit" value="Realizar pedido" class="btn">
                    </form>
                </div>
            </div>

            </div> 
        </div>
        
<br>
<main>
<main>
<hr>
</main>