@model MVC.ViewModels.EventoViewModel

<!-- &*&*&*&*&*&*&*&*&*& MAIN - INICIO *&*&*&*&*&*&*&*&*&* -->
<main>
    <div>
        <div class="slideshow-container">
            <div class="mySlides1">
                <img src="img/1.jpg" style="width:100%" height="auto">
            </div>
            <div class="mySlides1">
                <img src="img/2.jpg" style="width:100%" height="auto">
            </div>
            <div class="mySlides1">
                <img src="img/3.jpg" style="width:100%" height="auto">
            </div>
            <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
            <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
    </div>
    <div id="cardapio">
    <br>
        <h2>Cardápio de eventos</h2>

<br>
<br>
<br>
<br>
<br>
<br>

    <div class="btn-group">
        <a asp-controller="Eventos" asp-action="Social"><i class="fas fa-birthday-cake"><p>Social</p></i></a>
        <a asp-controller="Eventos" asp-action="Casamento"><i class="fas fa-heart"><p>Casamento</p></i></a>
        <a asp-controller="Eventos" asp-action="Universitario"><i class="fas fa-graduation-cap"><p>Universitário</p></i></a> 
        <a asp-controller="Eventos" asp-action="Corporativo"><i class="fas fa-handshake"><p>Corporativo</p></i></a>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<br>
    @if (@Model.Eventos.Count > 0)
    {         
        <h2>Futuros eventos</h2>
<br>
<br>
<br>
        <div id="jef">
        @foreach (var evento in @Model.Eventos){       
                @if (evento.Status == 1 && evento.Id == 1)
                {
                    <div>                
                        <p>Evento @evento.Espaço.Nome <br> Dia @evento.DataDoEvento.ToShortDateString()</p>                    
                    </div>
                }                    
                @if (evento.Status == 1 && evento.Id == 2)
                {
                    <div>                    
                        <p>Evento @evento.Espaço.Nome <br> Dia @evento.DataDoEvento.ToShortDateString()</p>
                    </div>
                }                    
                @if (evento.Status == 1 && evento.Id == 3)
                {
                    <div>                    
                        <p>Evento @evento.Espaço.Nome <br> Dia @evento.DataDoEvento.ToShortDateString()</p>                    
                    </div>
                }                    
        }
        </div>
<br>
<br>
<br>
    <div id="feed-buttom">
        <button class="button-feedback" onclick="openForm()">
            <span>
                Faça o seu também
            </span>
        </button>
    </div>
<hr>
    }else
    {
        <h2>Nenhum evento no momento</h2>
<br>
<br>
<br>
            <div id="feed-buttom">
                <button class="button-feedback" onclick="openForm()">
                    <span>
                        Faça seu Rolê Top
                    </span>
                </button>
            </div>
        <hr>
    }


</main>
<!-- &*&*&*&*&*&*&*&*&*& MAIN - FIM *&*&*&*&*&*&*&*&*&* -->

<script>
    function myFunction() {
    var x = document.getElementById("go");
    if (x.className === "topnav") {
        x.className += " responsive";
        
    } else {
        x.className = "topnav";
    }
    }
</script>

<script>
        function myFunction() {
        var x = document.getElementById("go");
        if (x.className === "topnav") {
                x.className += " responsive";
                if (x.className === "topnav responsive"){
                document.getElementById("go").style.paddingBottom = "23em";
                document.getElementById("go").style.fontSize = "2.5em";
                document.getElementById("go").style.backgroundColor = "black";
                document.getElementById("go").style.margin = "0em";
                
                }
        } else {
                x.className = "topnav";
                document.getElementById("go").style.paddingBottom = "0";
                document.getElementById("go").style.fontSize = "1.3em";
                document.getElementById("go").style.backgroundColor = "transparent";
                document.getElementById("go").style.margin = "0em";
                
        }
        }
</script>

    <script>if (document.documentElement.clientWidth < 900) {
    // scripts
    }
    </script>
